<div class="notification-block" [ngClass]="{'opened': errorsAreDisplayed}" (click)="toggleErrors()">
    <img id="report-triangle" class="report-triangle" [src]="imgSource">
    <span class="notification-sum">{{totalNotifications}}</span>
    <app-notification-list
        [hidden]="!errorsAreDisplayed"
        [notifications]="notifications"
        [animationState]="fadeIAnimationState"
        (onHover)="onHover($event)"
        (onClickCheckMark)="onClickCheckMark($event)"
        (click)="stopPropagationEvent($event)">
    </app-notification-list>
</div>